* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

body {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url("https://assets.nflxext.com/ffe/siteui/vlv3/9d3533b2-0e2b-40b2-95e0-ecd7979cc88b/a3873901-5b7c-46eb-b9fa-12fea5197bd3/IN-en-20240311-popsignuptwoweeks-perspective_alpha_website_large.jpg");
  background-size: cover;
  background-position: center;
  color: white;
  height: 100vh;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 50px;
}

.logo {
  width: 150px;
}

.logo img {
  width: 100%;
}

.nav-links {
  display: flex;
  gap: 20px;
  align-items: center;
}

.language-selector {
  background-color: transparent;
  color: rgb(3, 3, 3);
  border: 1px solid white;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
}

.sign-in-btn {
  background-color: #e50914;
  color: white;
  border: none;
  padding: 7px 15px;
  border-radius: 4px;
  font-weight: bold;
  cursor: pointer;
}

.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 80vh;
  padding: 0 20px;
}

.hero h1 {
  font-size: 3rem;
  margin-bottom: 20px;
}

.hero p {
  font-size: 1.5rem;
  margin-bottom: 30px;
}

.email-form {
  display: flex;
  gap: 10px;
  width: 100%;
  max-width: 600px;
}

.email-input {
  flex: 2;
  padding: 15px;
  font-size: 1rem;
  border-radius: 4px;
  border: none;
}

.get-started-btn {
  flex: 1;
  background-color: #e50914;
  color: white;
  border: none;
  padding: 15px;
  font-size: 1.5rem;
  font-weight: bold;
  border-radius: 4px;
  cursor: pointer;
}
